@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
    --font-poppins: "Poppins", sans-serif; 
    --font-roboto: "Roboto", sans-serif;
    --color-primary-blue: #0747A6;
    --color-secondary-blue: #0065FF;
    --color-light-blue: #b8e6fe;
    --color-primary-yellow: oklch(85.2% 0.199 91.936);

    
    ---animate-bounce-slow: myBounce 2s ease-in-out infinite;
    /* bounce  */
    @keyframes myBounce {
      30% {
        transform: translateY(0)
      },
      50% {
        transform: translateY(-30%)
      }
    }
  }
  
/* Terapkan font Poppins ke semua body */
body {
  @apply font-poppins;
}


/* Custom utility: hilangkan spinner input number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  @apply appearance-none m-0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@layer utilities {

   /* scroll bar global */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05); /* abu tipis */
}

  ::-webkit-scrollbar-thumb {
    background-color: rgba(7, 71, 166, 0.4);
    border-radius: 10px;
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: rgba(7, 71, 166, 0.4) transparent;
  }

  /* custom */
  .scroll-thumb-only {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.1) transparent; /* thumb warna biru, track transparan (Firefox) */
  }

  .scroll-thumb-only::-webkit-scrollbar {
    height: 8px; /* untuk horizontal, ubah jadi width untuk vertical */
  }

  .scroll-thumb-only::-webkit-scrollbar-track {
    background: transparent; /* membuat track transparan */
  }

  .scroll-thumb-only::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1); /* warna thumb */
    border-radius: 10px;
  }


 
}
